
.background-image {
    background-image: url('https://img.freepik.com/free-photo/leaves-grass-against-defocussed-background_1048-7521.jpg?size=626&ext=jpg');
    background-size: cover;
    background-position: center;
    /* Add any additional background styling here */
  }
  